body {
  background: #eaeaea;
}

.recipe-container {
    background: pink;
    padding: 10px;
    border: 2px solid #b57a84;
    border-radius: 20px;
}

.confirmation {
    color: #32e432;
    font-size: 16px;
    font-family: monospace;
}

.recipe-results {
    height: 600px;
    padding: 10px;
    background: #d87f7f;
    border: 2px solid #8e5353;
    border-radius: 8px;
    margin-top: 30px;
    display: none;
}

.recipe-results h2 {
  text-align: center;
}

.recipe-container img {
    user-select: none;
}

#favorites .panel {
    max-height: 200px;
    overflow: auto;
}

/* Forward & Back Button Styling */
.round {
    color: white;
    background: purple;
    border: none;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    border-radius: 50%;
    line-height: 0;
    transition: 0.4s;
}

.round:hover {
    background: #540954;
}

nav {
  margin-top: 30px;
  text-align: center;
}

/* PANTRY */

#pantry, #pantryError {display:none;}
